streamlit==1.32.2
pandas==2.0.3
numpy==1.24.3
matplotlib==3.8.3
seaborn==0.12.2
scikit_learn==1.4.1.post1
xgboost==1.5.0
scikit-learn-intelex==2021.20220215.102710
streamlit==1.32.2
streamlit-tags==1.2.8
tensorflow==2.15.0
xgboost==1.7.3
